services:

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  command-service:
    build: ./command-service
    container_name: command-service
    ports:
      - "8081:8081"
    depends_on:
      - kafka

  query-service:
    build: ./query-service
    container_name: query-service
    ports:
      - "8082:8082"
    depends_on:
      - kafka

  audit-service:
    build: ./audit-service
    container_name: audit-service
    ports:
      - "8083:8083"
    depends_on:
      - kafka
